nav {
  /* height: 5em; */
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2, nav p {
  margin: 0;
}

nav button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

nav span {
  margin-right: 1em;
}

nav img {
  width: 25px;
  height: 25px;
}